doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    script(src="/javascripts/ckeditor/ckeditor.js")
    script(src="/javascripts/angular/1.5.3/angular.min.js")
  body
    include ../partial/mainMenuBar
    block content
