extends ./layouts/mainLayout
block content
  div(class='homeTextDiv') 
    p This is a free sample CMS. 
    p This project includes the following:
      ul
        li Node
        li REST
        li Angular
        li CKEditor
        li MongoDB
    p The posts get deleted every 5 minutes.
