div(id='mainMenuBar' class='mainMenuDiv')  
  ul(class='mainMenuUl')
    li(class='mainMenuLi')
      a(href='/' class='mainMenuA') Home
    li(class='mainMenuLi')
      a(href='/posts' class='mainMenuA') Post
